<%= simple_form_for(@article, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>


    <%= f.input :title %>
    <%= f.input :user_id %>
    <%= f.input :content, as: :text, input_html: {rows: "9"} %>


  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-inverse" %>
  </div>
<% end %>




 