<div class="row">
	<div class= "span6 offset3">
		<div class= "well">
			
			<p>
				<%= @link.description %>
			</p>
			<p>
				<%= link_to "Explore Link", @link.url %>
			</p>
			<p>
				<%= @link.user.name %>
			</p>

			<% if current_user == @link.user %>
			<%= link_to 'Edit', edit_link_path(@link) %> |
			<% end %>
			<%= link_to 'Back', communalsparks_path %>

		</div>
	</div>
</div>	


